<section class="contact" id="contact">
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <h2 class="desc">Contact Us</h2>
        <span class="title mono">Let's work together</span>
      </div>
    </div>
    <div class="row grid">
      <div class="col animation">
        <lottie-player
          src="https://assets5.lottiefiles.com/packages/lf20_dHUtAw.json"
          background="transparent"
          speed="1"
          loop
          autoplay
        ></lottie-player>
      </div>
      <div class="col calendar">
        <a href="https://calendly.com/samuelsycamore/chat" target="_blank">
          Click here to schedule a call.</a>
        <p>
          → We will be in touch shortly to confirm the meeting and find out more
          about your project and how we can help.
        </p>
        <p>Email: sam@sycamore.design</p>
      </div>
    </div>
  </div>
</section>
