<footer>
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <p>Copyright © 2021 Sycamore Design.</p>
        <p>Built with solar energy ☀️ in the Santa Cruz Mountains of California.</p>
      </div>
    </div>
  </div>
</footer>
