<footer>
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <p>Copyright © 2021 Sycamore Design.</p>
        <p>All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
