<header>
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <a href="/"><h1>Sycamore Design</h1></a>
      </div>
      <div class="col burger">
        <img id="hamburgerbtn" src="../../img/icons/menu-white.svg" />
      </div>

      <nav id="mobileMenu">
        <ul>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="https://work.sycamore.design" target="_blank">Work</a>
          </li>
          <li>
            <a href="https://blog.sycamore.design" target="_blank">Blog</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>