<section class="hero">
  <div class="wrapper">
    <div class="row">
      <div class="col content">
        <h2 class="headline mono">
          First impressions<br />
          <span>mean everything</span>
        </h2>
        <p class="subheadline">
          What does your web presence say about your business?
        </p>
        <p class="callout">
          → We help agencies and startups convert new clients to enthusiastic
          supporters.
        </p>
        <div>
          <a class="btn" href="#contact">Let's Talk</a>
        </div>
      </div>
      <div class="col animation">
        <lottie-player
          src="../img/laptopdude.json"
          background="transparent"
          speed="1"
          loop
          autoplay
        ></lottie-player>
      </div>
    </div>
  </div>
</section>
