<section class="hero">
  <div class="wrapper">
    <div class="row">
      <div class="col content">
        <h1 class="headline mono">
          Sycamore Design
        </h1>
        <p class="subheadline">
          Well look at that, you done found the internet home of Sam Sycamore.
        </p>
        <p class="callout">
          Go 'head and make your way down this page to find out more about the various plates I got spinnin' in the air right now.
        </p>
        <div>
          <a class="btn" href="#socials">Holler at me</a>
        </div>
      </div>
      <div class="col animation">
        <lottie-player
          src="../img/laptopdude.json"
          background="transparent"
          speed="1"
          loop
          autoplay
        ></lottie-player>
      </div>
    </div>
  </div>
</section>
