<section class="newsletter">
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <h2 class="desc">Email Newsletter</h2>
        <span class="title mono">Strategies for<br> content & career</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Actionable advice for becoming a better communicator.</p>
        <p>Achieve your career goals by cultivating a strong personal brand!</p>
        <p>
          <strong>Strategies for Content & Career</strong> is an email newsletter published twice monthly.</p>
      </div>
      <div class="col form">
        <div id="revue-embed">
          <form action="https://www.getrevue.co/profile/sycamore/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
            <div class="revue-form-group">
              <label for="member_email">Your Email</label><br>
              <input class="revue-form-field email" placeholder="Email address is required..." type="email" name="member[email]" id="member_email">
            </div>
            <div class="revue-form-group">
              <label for="member_first_name">Your Name</label><br>
              <input class="revue-form-field email" placeholder="Name is optional..." type="text" name="member[first_name]" id="member_first_name">
            </div>
            <div class="revue-form-actions">
              <input class="button btn" type="submit" value="Sign Up" name="member[subscribe]" id="member_submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>