{% macro card(img, title, line1, line2, line3) %}
<div class="services-card">
  <img src="../img/icons/{{ img }}" />
  <h4 class="card-title mono">
    {{ title }}
  </h4>
  <p>{{ line1 }}</p>
  <p>{{ line2 }}</p>
  <p>{{ line3 }}</p>
</div>
{% endmacro %}

<section class="services" id="services">
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <h2 class="desc">Our Services</h2>
        <span class="title mono">
          <span>Sycamore Design</span>
          provides
        </span>
      </div>
    </div>
    <div class="row grid">
      {{
        card(
          "upload.svg",
          "Web development",
          "We specialize in beautiful, lightning-fast websites that are optimized for all devices.",
          "From concept to completion, we are your one-stop shop for upgrading your web presence and generating more leads."
        )
      }}

      {{
        card(
          "paper.svg",
          "Technical writing",
          "Beginner-friendly documentation is the best possible advocate for your software product.",
          "Our empathy-driven docs and tutorials keep new users happy and help persuade existing users to tell their friends."
        )
      }}

      {{
        card(
          "speaker.svg",
          "Marketing & copywriting",
          "Your website has mere seconds to convince a new visitor to stick around.",
          "We captivate your audience by creating memorable experiences and centering their satisfaction at every step."
        )
      }}

      {{
        card(
          "click.svg",
          "Search engine optimization",
          "SEO doesn't have to feel like sorcery.", 
          "We demystify the process of keyword research and technical SEO for our clients.",
          "Need killer content to bring in new search engine traffic? Ask about content-driven SEO."
        )
      }}
    </div>
  </div>
</section>
