{% macro card(url, img, title, name, desc) %}
  <a href="{{ url }}" target="_blank">
    <div class="stuff-card">
      <img src="../img/icons/{{ img }}"/>
      <h3 class="card-title mono">

        {{ title }}
      </h3>
      <p>
        <strong>{{ name }}</strong>
        {{ desc }}
      </p>
    </div>
  </a>
{% endmacro %}

<section class="stuff" id="stuff">
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <h2 class="desc">Some Stuff I Do</h2>
        <span class="title mono">
          What brings y'all here?
        </span>
      </div>
    </div>
    <div class="row grid">
      {{
        card(
          "https://blog.sycamore.design",
          "blocks.svg",
          
          "Read my blog",
          "The Sycamore Design Blog", 
          "covers the art & business of content creation, marketing & copywriting, technical writing, freelancing, and web development."
        )
      }}

      {{
        card(
          "https://www.getrevue.co/profile/sycamore",
          "paper.svg",
          
          "Read my newsletter",
          "Strategies for Content & Career", 
          "offers actionable advice for becoming a more effective communicator and cultivating a strong personal brand."
        )
      }}

      {{
        card(
          "https://work.sycamore.design",
          "speaker.svg",
          
          "View my portfolio",
          "My portfolio", 
          "gathers my work as a writer, speaker, web developer, and content creator across various venues & platforms — all in a convenient chronological timeline."
        )
      }}

      {{
        card(
          "https://blog.sycamore.design",
          "click.svg",
          "Read my bio",
          
          "My press kit", 
          "includes all of the standard information I reckon you might want if you invite me to be a guest on a thing. I don't know! People request this stuff sometimes."
        )
      }}
    </div>
  </div>
</section>