<header>
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <a href="https://www.sycamore.design"> Sycamore Design </a>
      </div>
      <div class="col">
        <img src="../img/icons/menu-white.svg" class="hamburger" />
        <nav>
          <ul>
            <li>
              <a href="#services">Services</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
            <li>
              <a href="https://work.sycamore.design">Work</a>
            </li>
            <li>
              <a href="https://blog.sycamore.design">Blog</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<script>
  let mobile = document.querySelector(".hamburger");
  mobile.addEventListener("click", (event) => {
    event.preventDefault();
    document.querySelector(".hamburger").classList.toggle("is-active");
    document.querySelector("nav").classList.toggle("is-active");
  });
</script>
