@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$color-1: #fcd34d;
$color-2: #c94b4b;
$color-3: #4b134f;
$color-4: #04048c;
$light: #fff;
$secondary: #c0c0c0;
$dark: #000;

@mixin theme-grid() {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 47.5%);
  gap: 5%;
  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(1, 100%);
    gap: 1rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.mono {
  font-family: "Roboto Mono", monospace;
  letter-spacing: -0.07em;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6em;
  letter-spacing: 0.1em;
  background: $dark;
  color: $secondary;
  font-size: 1.8rem;
  font-weight: 100;
  @media screen and (max-width: 720px) {
    font-size: 1.6rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $light;
}

.btn {
  text-transform: uppercase;
  display: inline-block;
  color: $color-1;
  background-color: $dark;
  padding: 1.5rem 4rem;
  border-radius: 5px;
  border: 1px solid $color-1;
  margin-bottom: 1rem;
}

.btn:hover {
  background-color: $color-4;
  color: $light;
  border: 1px solid $light;
  transform: scale(102%);
  transition: 300ms ease-in-out;
}

.btn-links {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  display: inline-block;
  background-color: #9dc2ee;
  color: $dark;
  padding: 1.5rem 4rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.btn-links:hover {
  background-color: $color-4;
  color: $light;
  transition: 300ms ease-in-out;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

ul {
  list-style-type: none;
}

.hero {
  background: #000;
  background-image: url("../img/assets/bg.svg");
  background-size: cover;
  background-position: top center;
  height: 100vh;
  margin-bottom: 200px;
  .row {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 5%;

    .col {
      &.content {
        z-index: 49;
        max-width: 800px;
        margin-top: 70px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
        padding: 2.5rem 4rem;
        border-radius: 5px;
        @media screen and (max-width: 800px) {
          margin-top: 150px;
          padding: 2rem 1.5rem;
        }
        .headline {
          font-size: 10rem;
          line-height: 1.1em;
          margin-bottom: 2.5rem;
          @media screen and (max-width: 1000px) {
            font-size: 7rem;
          }
          @media screen and (max-width: 520px) {
            font-size: 5rem;
          }
        }
        .subheadline {
          color: $color-1;
          font-size: 3rem;
          font-weight: thin;
          font-style: italic;
          line-height: 1.3em;
          margin-bottom: 2.5rem;
          @media screen and (max-width: 660px) {
            font-size: 2.2rem;
          }
        }
        .callout {
          font-size: 1.8rem;
          margin-bottom: 2.5rem;
          @media screen and (max-width: 500px) {
            font-size: 1.5rem;
          }
        }
      }
      &.animation {
        overflow-x: hidden;
        z-index: 49;
        max-width: 550px;
        @media screen and (max-width: 1111px) {
          position: absolute;
          top: 0;
          opacity: 0.3;
        }
        @media screen and (max-width: 800px) {
          top: 4%;
        }
        @media screen and (max-width: 600px) {
        }
      }
    }
  }
}

.stuff {
  margin-bottom: 200px;
  .row {
    margin-bottom: 50px;
    .col {
      .desc {
        text-transform: uppercase;
        color: $color-2;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      .title {
        display: block;
        color: $light;
        font-size: 9rem;
        line-height: 1.1em;
        font-weight: 600;
        margin-bottom: 2.5rem;
        @media screen and (max-width: 1200px) {
          font-size: 8rem;
        }
        @media screen and (max-width: 400px) {
          font-size: 6.2rem;
        }
      }
    }
  }
  .grid {
    @include theme-grid;
    .stuff-card {
      background: $color-3;
      min-width: 320px;
      padding: 4rem;
      border-radius: 5px;
      margin-bottom: 2rem;
      text-align: center;
      img {
        margin-bottom: 1.8rem;
      }
      .card-title {
        font-size: 3rem;
        line-height: 1em;
        margin-bottom: 4rem;
        @media screen and (max-width: 800px) {
          font-size: 4rem;
        }
        @media screen and (max-width: 400px) {
          font-size: 3rem;
        }
      }
      p {
        text-align: left;
        margin-bottom: 1rem;
        color: $light;
      }
      @media screen and (max-width: 60px) {
        padding: 2rem 1.5rem;
      }
    }
    .stuff-card:hover {
      background: $color-2;
      transform: scale(102%);
      transition: 300ms ease-in-out;
    }
  }
}

.socials {
  margin-bottom: 200px;
  .row {
    .col {
      .desc {
        text-transform: uppercase;
        color: $color-2;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      .title {
        display: block;
        color: $light;
        font-size: 9rem;
        line-height: 1.1em;
        font-weight: 600;
        margin-bottom: 2.5rem;
        @media screen and (max-width: 900px) {
          font-size: 8rem;
        }
        @media screen and (max-width: 400px) {
          font-size: 6.2rem;
        }
      }
    }
  }
  .row.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 47.5%);
    gap: 5%;
    align-items: center;
    .col {
      margin-top: 20px;
      a {
        display: inline-block;
        font-size: 4rem;
        font-weight: thin;
        font-style: italic;
        line-height: 2em;
        color: $color-1;
        &:hover {
          color: $color-2;
          transform: scale(105%);
          transition: 300ms ease-in-out;
        }
        @media screen and (max-width: 800px) {
          font-size: 3rem;
        }
        @media screen and (max-width: 600px) {
          font-size: 2.2rem;
        }
      }
      p {
        margin-bottom: 2.5rem;
      }
    }
  }
}

img {
  width: 50px;
}

.newsletter {
  min-height: 100vh;
  padding: 100px 0;
  display: flex;
  background: rgb(55, 48, 163);
  background: linear-gradient(33deg, #4b134f 0%, #c94b4b 100%);
  .row {
    .col {
      margin-bottom: 2rem;
      .desc {
        text-transform: uppercase;
        color: $secondary;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      .title {
        display: block;
        color: $light;
        font-size: 9rem;
        line-height: 1.1em;
        font-weight: 600;
        margin-bottom: 2.5rem;
        @media screen and (max-width: 1080px) {
          font-size: 7rem;
        }
        @media screen and (max-width: 830px) {
          font-size: 5rem;
        }
        @media screen and (max-width: 630px) {
          font-size: 4rem;
        }
      }
      &.form {
        label {
          font-weight: bold;
        }
        input {
          font-size: inherit;
        }
        input.email {
          width: 100%;
          max-width: 320px;
          background: $dark;
          color: $color-1;
          padding: 1rem;
          margin: 1.5rem 0;
          border: 1px solid $color-1;
          border-radius: 5px;
        }
        input.email:focus {
          background: $color-4;
          color: $light;
          transform: scale(102%);
          transition: 300ms ease-in-out;
        }
        #member_submit {
          margin-top: 15px;
          width: 320px;
          @media screen and (max-width: 400px) {
            width: 100%;
            max-width: 320px;
          }
        }
      }
    }
  }
}

.links-page {
  background: #000;
  .row {
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 5%;

    .col {
      &.content {
        z-index: 49;
        max-width: 800px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
        padding: 2.5rem 4rem;
        border-radius: 5px;
        .headline {
          font-size: 8rem;
          line-height: 1.1em;
          margin-bottom: 2.5rem;
          @media screen and (max-width: 650px) {
            font-size: 6rem;
          }
          @media screen and (max-width: 550px) {
            font-size: 5rem;
          }
          @media screen and (max-width: 450px) {
            font-size: 4rem;
          }
        }
        .subheadline {
          color: $color-1;
          font-size: 2rem;
          font-weight: thin;
          font-style: italic;
          line-height: 1.3em;
          margin-bottom: 2.5rem;
          @media screen and (max-width: 650px) {
            font-size: 1.8rem;
          }
          @media screen and (max-width: 550px) {
            font-size: 1.3rem;
          }
        }
        .callout {
          font-size: 1.5rem;
          margin-bottom: 2.5rem;
          @media screen and (max-width: 550px) {
            font-size: 1.4rem;
          }
          @media screen and (max-width: 550px) {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

footer {
  padding: 4rem 0;
}
