---
layout: base.njk
title: Newsletter
---

<section class="links-page">
    <div class="wrapper">
        <div class="row">
            <div class="col content">
                <h1 class="headline mono">
          Sam Sycamore
        </h1>
                <p class="subheadline">
          Head of Content Strategy & Marketing at Hashnode
        </p>
                <p class="callout">
          Writer and web developer in the tech industry.<br/> 
          Content creator, technical writer, copywriter, public speaker.
        </p>
                <div>
                    <a class="btn-links" href="https://getrevue.co/profile/sycamore">Newsletter: Strategies for Content & Career</a>
                </div>
                <div>
                    <a class="btn-links" href="https://blog.sycamore.design">Sycamore Design Blog</a>
                </div>
                <div>
                    <a class="btn-links" href="https://work.sycamore.design">Portfolio & Work History</a>
                </div>
                <div>
                    <a class="btn-links" href="mailto:sam@sycamore.design">Work With Me</a>
                </div>
                <div>
                    <a class="btn-links" href="https://sycamoredesign.notion.site/sycamoredesign/Sam-s-Press-Kit-08ca728b8a6f4ead9726021f328e47fc">Press Kit</a>
                </div>
                <div>
                    <a class="btn-links" href="https://twitter.com/tanoaksam">Twitter</a>
                </div>
                <div>
                    <a class="btn-links" href="https://www.linkedin.com/in/samuelsycamore">LinkedIn</a>
                </div>
                <div>
                    <a class="btn-links" href="https://www.github.com/samuelsycamore">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_footer.njk" %}